:root {
  --accent-color: #4d5ae5;
}

/* region Base style */
body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}
/* endregion Base style */

/* region common style  */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 2%;
  text-align: center;
}

.accent {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4x;
}
/* endregion common style  */
