.hero {
  background-color: rgba(46, 47, 66, 1);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.btn {
  border-radius: 4x;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  vertical-align: middle;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
